<!doctype html>
<html lang="en">

  <head>
    <title>{% block pageTitle %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
	<!--	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock head %}

  </head>

  <body>

   <div class="container">

		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav">
						<li>
							<a href="/feed">Login</a>
						</li>

					</ul>
				</div>
			</div>
		</div>

		{% block content %}{% endblock %}

    </div>
	  
	 <section class="footer">
	 	{% block footer %}{% endblock %}
	</section>
  </body>

</html>
