{% extends "html/include/base.html" %}

{% block pageTitle %}
	LearnToDo.co
{% endblock pageTitle %}

{% block content %}
<a href="{{logoutUrl}}" id="logout">Logout</a>
<section class="updateStatus">
	<form method="POST" action="/feed">
		<select name="statusPrefix">
			<option value="Working on">I am working on</option>
			<option value="Interested in">I am interested in</option>
			<option value="Need help with">I need help with</option>
			<option value="Looking for a job @">I am looking for a job @</option>
		</select>
		<input type="text" placeholder="Status update" id="statusBar" name="statusUpdate"/>
		<input type="submit" value="Update Status"/>
	</form>
</section>

<section class="statusFeed">
	{% for update in statusUpdates %}
		
		<div class="feedItem {{ update.prefix|replace(' ', '')|replace('@','')}} {% if update.isResolved %} resolved {% endif %}">
			<span class="profilePic">
				<img src="">
			</span>
			<span class="updateInfo">
				<em>{{update.user.nickname()}} - </em>
				{% if update.isResolved %}
				Thanks for the help {{update.resolvedBy.nickname()}}!
				{% else %}
				{{update.prefix}} {{update.update}}
				{% endif %}
			</span> 
			<span class="helpActions" id="{{update.key()}}">
				<a href="#" class="help">{{update.helpCount}}</a>
			</span>
			
		</div>

		<div class="help2 {{update.key()}}">
			<div class="helpInput">
				<form method="POST" action="/help">
					<input type="hidden" value="{{update.key().id()}}" name="statusId" id='statusId' />
					<input type="hidden" value="{{update.key()}}" name="statusKey" id="statusKey" />
					<input type="text" placeholder="Suggest how you can help" name="help" id="help" />
					<input type="submit" value="Help Friend" sdf='submitAnswer'/>
				</form>
			</div>
			<div class="helpOutput">
				
			</div>
		</div>

	{% endfor %}

</section>

<script type="text/javascript">
//$('.help').click(function(){ (className="."+$(this).parent().attr('id')); $(className).toggle() })
$(document).ready(function() {
	if(window.location.hash) {
		var hash = window.location.hash.substring(1); //Puts hash in variable, and removes the # character
		//alert (hash);
		$(window).scrollTop($(window).scrollTop()-100);
		$(('#'+hash+' a')).trigger('click');
		// Scroll the screen a little upwards
		//$('body').scrollTop($('body').scrollTop()-100);
	} else {
		// No hash - don't do anything
	}
});



$('.feedItem').click(function(){ 
	//statusKey = $(this).parent().attr('id');
	statusKey = $(this).find('.helpActions').attr('id');
	className="."+statusKey; 
	
	if($(className).css('display')=="none"){
		$(className).fadeIn();
		getAnswers(statusKey);
	}
	else{
		$(className).hide();
		$(className).find('.answerWrapper').remove()
	}
	$(className).find('#help').focus()
	return false;
})

$('.submitAnswers').click(function(){
	statusId= '5591359674868826112'
	answer = 'helooooo'
	//statusKey = $(this).parent().find('#statusKey').attr('id');
	//postAnswers(statusId,answer,statusKey)
})

function postAnswers(statusId,answer){
	$.post('help',{'statusId':statusId,'help':answer},function(data){

		//$(this).parent().parent().parent().find('.answerWrapper').prepend('')

	})

}

function getAnswers(statusKey){
	$.ajax({
		url:"help/"+statusKey,
	}).done(function(data){
		$("."+statusKey).prepend(data)
	})

}

$('#statusBar').focus()




</script>



{% endblock content %}