{% extends "html/include/oldBase.html" %}

{% block pageTitle %}
	LearnToDo.co
{% endblock pageTitle %}

{% block head %}
	<style type="text/css">
		#cities{
			text-align: center;
			padding: 40px 0 0 0;
		}

		#cities a{
			padding: 0 20px 0 0;
		}

		#description{
			line-height: 26px;
			font-family: helvetica, san-serif;
			font-size: 20px;
		}

	</style>
{% endblock head%}

{% block content %}

	<p id="description">
	Welcome, log-in with your gmail account to record and search through your mentor conversations. 
	</p>




{% endblock content %}
